<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Councils</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container fluid text-center"/>
<div><h2>Councils</h2></div>
<div class = "m-2">
</div>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>

<table class="table table-bordered">
  <thead class= "thead-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Opening Hours</th>
    <th>Phone</th>
    <th>Email</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="council : ${listOfCouncils}">
    <tr>
      <td>[[${council.id}]]</td>
      <td>[[${council.Name}]]</td>
      <td>[[${council.fullAddress}]]</td>
      <td>[[${council.openingHours}]]</td>
      <td>[[${council.phone}]]</td>
      <td>[[${council.email}]]</td>





      </td>

      </td>
    </tr>
  </th:block>
  </tbody>
</table>

</div>

</div>
</body>
</html>