<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container fluid text-center"/>
<div><h2>[[${park.Name}]]</h2></div>
<div class = "m-2">
</div>

 <a class ="h4 mr-3" th:href="@{'/parks/edit/' + ${park.id}}">Edit</a>

            <a class ="h4 mr-3" th:href="@{'/parks/delete/' + ${park.id}}">Delete</a>

          <a class ="h4 mr-3" th:href="@{/parks/}">Back</a>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>

<table class="table table-bordered">
  <thead class= "thead-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Full Address</th>
    <th>Opening Hours</th>
      <th>Council Name</th>
    <th>Phone Number</th>
    <th>E-Mail</th>
    <th>Park Facilities</th>
    <th>Website</th>
    <th>Park Category</th>
    <th>Park Surface Type</th>
    <th>Additional Information</th>
    <th>Wheelchair Accessible</th>
    <th>Disabled Parking</th>
    <th>Park Ranger</th>
    <th>Toilets</th>
    <th>Disabled Toilets</th>
    <th>Baby Changing Rooms</th>
    <th>Seating</th>
    <th>Drinking Water</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>[[${park.id}]]</td>
      <td>[[${park.Name}]]</td>
      <td>[[${park.fullAddress}]]</td>
      <td>[[${park.openingHours}]]</td>
        <td>[[${park.Council_Name}]]</td>
      <td>[[${park.Phone}]]</td>
      <td>[[${park.Email}]]</td>
        <td>[[${park.Facilities}]]</td>
            <td>[[${park.Website}]]</td>
            <td>[[${park.Category}]]</td>
            <td>[[${park.Surface_Type}]]</td>
            <td>[[${park.Comments}]]</td>
            <td>[[${park.WheelchairAccessible}]]</td>
            <td>[[${park.Disabled_Parking}]]</td>
            <td>[[${park.Park_Ranger}]]</td>
            <td>[[${park.Toilets}]]</td>
            <td>[[${park.Disabled_Toilets}]]</td>
            <td>[[${park.Baby_Changing}]]</td>
            <td>[[${park.Seating}]]</td>
            <td>[[${park.Drinking_Water}]]</td>





<!--      <td> <a class ="h4 mr-3" th:href="@{'/parks/edit/' + ${park.id}}">Edit</a>-->
<!--        <a class ="h4" th:href="@{'/parks/delete/' + ${park.id}}">Delete</a>-->
<!--      </td>-->
<!--      <a class ="h4" th:href="@{'/parks/viewpark/' + ${park.id}}">View</a>-->
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

</div>

</div>
</body>
</html>